/.local/
/auto-save-list/
/backups/
/eln-cache/
/games/
/tree-sitter/
/tramp
*.elc
/elpa/
/bookmarks/
/session.*
/recentf
/network-security.data
/url/
/transient/
/straight/
*~
.*~
\#*\#
.~lock.*
custom.el